<?xml version="1.0" encoding="UTF-8"?>
<plugin
  
  id="SeibelsYAMLInput"
  iconfile="icon.png"
  description="Seibels YAML Input"
  tooltip="Parse a YAML file for use by kettle"
  category="Seibels Plugins"
  classname="com.seibelsdata.di.plugins.seibelsyamlinput.SeibelsYAMLInputMeta">
  
  <libraries>
    <library name="SeibelsYAMLInput.jar"/>
  </libraries>
  
</plugin>
